# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database files
*.db

# Ignore environment variable files (if any)
.env

# Ignore alembic.ini files (if any)
alembic.ini 
